.weather_card{

    height: 400px;
    background-color: var(--card-color);

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 25px;
}

.location_section{
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location_section > span{
    font-size: 2.4rem;
    font-weight: 400;
}

.location_section .local span{
    color: var(--t-color);
}

.temp_section{
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.temp_section .img{
   height: 100%;
   width: 200px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.temp_section .temp_info{

    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.graus{
    font-size: 6rem;
}

.celcius{
    font-size: 3rem;
    padding-top: 14px;
}

.Description_section{
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
}