main {

    width: 100%;
    max-width: 800px;
    height: 100%;

    display: flex; /* inicia com none depois ganha flex*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 20px 0;
}

.searching-bar{

    width: 500px;
    height: 45px;
    margin: 10px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    overflow: hidden;
}

.search-btn,
.input{
    border: none;
    outline: none;
    height: 100%;
    background-color: var(--second-color);
    color: var(--text-color);
}

.input{
    flex: 1;
    padding: 17px;
}

.search-btn{
    width: 50px;
    cursor: pointer;
}


/* card */
.weather-card{
    flex: 1;
    width: 500px;
}

.cityname{
    width: 100%;
    height: 40px;
    padding-inline: 5px;

    display: flex;
    gap: 20px;
    align-items: end;
}

.cityname span:nth-child(1){
    font-size: 1.3rem;
}

.cityname span:nth-child(2),
.cityname span:nth-child(3),
.cityname span:nth-child(4){
    opacity: 0.8;
}

.temp{

    margin-top: 50px;
    height: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graus{
    font-size: 7rem;
    letter-spacing: -60px;
    color: var(--second-color);
}

.graus span:nth-child(1){
    letter-spacing: -10px;
}



/* info section */
.infos{
    width: 500px;
    height: 150px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--second-color);
}

.infos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}