@import '/src/style/load.css';
@import '/src/style/main.css';
@import '/src/style/mediaqueries.css';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --bg-color: #dfdfdf;
    --color: #161616;

    --text-color: #c9c8c8;
    --tx-color: #dbdbdb;
    
    --second-color: #3f3f3f;
    --sec-color: #3f3f3f;
}

body{
    background-image: linear-gradient(to bottom, #333333, rgb(124, 124, 124));
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}